* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
GCI/100glagola.marin.txt -text
GCI/100glagola.txt -text
GCI/100imenica.marin.txt -text
GCI/100imenica.txt -text
GCI/100imenica.zsehanovic.txt -text
GCI/100pridjeva.Marin.txt -text
GCI/200pridjeva.txt -text
GCI/400imenica.txt -text
GCI/check.sh -text
GCI/freq.txt -text
GCI/glagoli.leme.txt -text
GCI/imenice.leme.txt -text
GCI/pridjevi.leme.txt -text
/Makefile.am -text
/Makefile.old -text
/NEWS -text
/README -text
/TODO -text
/alt.xsl -text
/apertium-hbs-mkd.hbs-mkd.dix -text
/apertium-hbs-mkd.hbs-mkd.lrx -text
/apertium-hbs-mkd.hbs-mkd.rlx -text
/apertium-hbs-mkd.hbs-mkd.t1x -text
/apertium-hbs-mkd.hbs-mkd.t2x -text
/apertium-hbs-mkd.hbs-mkd.t3x -text
/apertium-hbs-mkd.hbs.metadix -text
/apertium-hbs-mkd.hbs.tsx -text
/apertium-hbs-mkd.mkd-hbs.lrx -text
/apertium-hbs-mkd.mkd-hbs.rlx -text
/apertium-hbs-mkd.mkd-hbs.t1x -text
/apertium-hbs-mkd.mkd-hbs.t2x -text
/apertium-hbs-mkd.mkd-hbs.t3x -text
/apertium-hbs-mkd.mkd.dix -text
/apertium-hbs-mkd.post-hbs.dix -text
/apertium-hbs-mkd.post-mkd.dix -text
/apertium-hbs-mkd.translit.dix -text
/autogen.sh -text
/configure.ac -text
dev/apertium-sh-mk.sh.metadix -text
dev/bilingual-summary.txt -text
dev/frequency.unknown.txt -text
dev/generateAdapterParadigms.py -text
dev/generation-summary.sh-mk.txt -text
dev/generation-test.py -text
dev/inconsistency-summary.sh -text
dev/inconsistency.sh -text
dev/missing-bidix-freq.sh -text
dev/nouns.ost.txt -text
dev/partitive_possesive/cartesian.py -text
dev/partitive_possesive/extract_candidates.sh -text
dev/partitive_possesive/nominative_genitive_pairs.txt -text
dev/partitive_possesive/notes.txt -text
dev/partitive_possesive/quantity_nouns.txt -text
dev/testvoc-summary.mk-sh.txt -text
dev/testvoc-summary.sh-mk.txt -text
dev/testvoc.sh -text
dev/verbAlign.py -text
freerbmt2012/Makefile -text
freerbmt2012/apertium-sh-mk.bib -text
freerbmt2012/apertium-sh-mk.tex -text
freerbmt2012/avm.sty -text
freerbmt2012/chapterbib.sty -text
freerbmt2012/crop.sty -text
freerbmt2012/cslipubs-extra.sty -text
freerbmt2012/cslipubs.sty -text
freerbmt2012/cslipubscollection/Makefile -text
freerbmt2012/cslipubscollection/README -text
freerbmt2012/cslipubscollection/avm.sty -text
freerbmt2012/cslipubscollection/chapterbib.sty -text
freerbmt2012/cslipubscollection/crop.sty -text
freerbmt2012/cslipubscollection/cslipubs-extra.sty -text
freerbmt2012/cslipubscollection/cslipubs-natbib.bst -text
freerbmt2012/cslipubscollection/cslipubs.sty -text
freerbmt2012/cslipubscollection/example-ch00.tex -text
freerbmt2012/cslipubscollection/example-ch01.tex -text
freerbmt2012/cslipubscollection/example-ch01/ch01.bib -text
freerbmt2012/cslipubscollection/example-ch01/ch01.tex -text
freerbmt2012/cslipubscollection/example-ch02.tex -text
freerbmt2012/cslipubscollection/example-ch02/ch02.bib -text
freerbmt2012/cslipubscollection/example-ch02/ch02.tex -text
freerbmt2012/cslipubscollection/example-index.tex -text
freerbmt2012/cslipubscollection/example.tex -text
freerbmt2012/cslipubscollection/import.sty -text
freerbmt2012/cslipubscollection/lingmacros.sty -text
freerbmt2012/cslipubscollection/natbib.sty -text
freerbmt2012/cslipubscollection/natbib.summary -text
freerbmt2012/cslipubscollection/tree-dvips.sty -text
freerbmt2012/cslipubscollection/tree-dvips91.pro -text
freerbmt2012/import.sty -text
freerbmt2012/lingmacros.sty -text
freerbmt2012/natbib.sty -text
freerbmt2012/tree-dvips.sty -text
/hbs-mkd-unsupervised.make -text
/hbs-mkd.prob -text svneol=unset#unset
/lexchoicebil.xsl -text
midterm/article.mk.original.txt -text svneol=unset#application/octet-stream
midterm/article.sh-mk.2011-07-12.txt -text
midterm/article.sh-mk.2011-08-21.txt -text svneol=unset#application/octet-stream
midterm/article.sh-mk.2011-08-30.txt -text svneol=unset#application/octet-stream
midterm/article.sh-mk.txt -text
midterm/article.sh.txt -text
midterm/obradi.sh -text
/mkd-hbs.prob -text svneol=unset#unset
/modes.xml -text
/pending-tests.sh -text
personal-nouns/p-nouns-sh-mk -text
/regression-tests.sh -text
/wiki-tests.sh -text
