/*.bin
/*.hfst
/*.mode
/.deps
/COPYING
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/automa4te.cache
/config
/config.in
/config.log
/config.status
/configure
/install-sh
/install.sh
/missing
/modes
/stamp-h1
/test/*-output.txt
/ap_include.am
/apertium-hbs-mkd.hbs.dix
/apertium-hbs-mkd.hbs_BS.dix
/apertium-hbs-mkd.hbs_HR.dix
/apertium-hbs-mkd.hbs_SR.dix
/*.gz
/*.pc
/*.zhfst
/.DS_Store
/*-*.prob
