* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/Makefile.old -text
/NEWS -text
/README -text
/TODO -text
/alt.xsl -text
/apertium-sh-mk.mk-sh.t1x -text
/apertium-sh-mk.mk-sh.t2x -text
/apertium-sh-mk.mk-sh.t3x -text
/apertium-sh-mk.mk.dix -text
/apertium-sh-mk.post-sh.dix -text
/apertium-sh-mk.sh-mk.dix -text
/apertium-sh-mk.sh-mk.t1x -text
/apertium-sh-mk.sh-mk.t2x -text
/apertium-sh-mk.sh-mk.t3x -text
/apertium-sh-mk.sh.metadix -text
/apertium-sh-mk.translit.dix -text
/autogen.sh -text
/configure.ac -text
dev/apertium-sh-mk.sh.metadix -text
dev/generation-summary.sh-mk.txt -text
dev/generation-test.py -text
dev/vblex/bidix.vblex.special_care.txt -text
dev/vblex/bidix.vblex.untranslated.txt -text
dev/vblex/bidix.vblex_BS.txt -text
dev/vblex/bidix.vblex_HR.txt -text
dev/vblex/bidix.vblex_SR.txt -text
dev/vblex/bidix.vblex_sh.txt -text
/mk-sh.prob -text svneol=unset#unset
/modes.xml -text
/pending-tests.sh -text
/regression-tests.sh -text
/sh-mk.prob -text svneol=unset#unset
/wiki-tests.sh -text
