* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/Makefile.old -text
/NEWS -text
/README -text
/TODO -text
/alt.xsl -text
/apertium-sh-mk.mk-sh.t1x -text
/apertium-sh-mk.mk-sh.t2x -text
/apertium-sh-mk.mk-sh.t3x -text
/apertium-sh-mk.mk.dix -text
/apertium-sh-mk.post-mk.dix -text
/apertium-sh-mk.post-sh.dix -text
/apertium-sh-mk.sh-mk.dix -text
/apertium-sh-mk.sh-mk.lex -text
/apertium-sh-mk.sh-mk.rlx -text
/apertium-sh-mk.sh-mk.t1x -text
/apertium-sh-mk.sh-mk.t2x -text
/apertium-sh-mk.sh-mk.t3x -text
/apertium-sh-mk.sh.metadix -text
/apertium-sh-mk.sh.tsx -text
/apertium-sh-mk.translit.dix -text
/autogen.sh -text
/configure.ac -text
dev/adj/dobar__adj -text
dev/adj/done.txt -text svneol=unset#application/octet-stream
dev/adj/fer__adj -text
dev/adj/garantni.par -text
dev/adj/inakov__adj -text
dev/adj/inventiven__adj -text
dev/adj/kamenen__adj -text
dev/adj/kraen__adj -text
dev/adj/krevok__adj -text
dev/adj/letachki__adj -text
dev/adj/mesten__adj -text
dev/adj/nizok__adj -text
dev/adj/paradigme.adj -text
dev/adj/pending_adjectives.txt -text
dev/adj/pending_adjectives_BS.txt -text
dev/adj/pending_adjectives_HR.txt -text
dev/adj/pending_adjectives_SR.txt -text
dev/adj/pending_adjectives_unknown.txt -text
dev/adj/pridjevi.adj -text
dev/adj/pridjevski.par -text
dev/adj/sve.adj -text
dev/adj/tezhok__adj -text
dev/adj/topol__adj -text
dev/adj/visok__adj -text
dev/adv/prilozi.nepromjenjivi.bidix.txt -text
dev/adv/prilozi.nepromjenjivi.monodix.txt -text
dev/adv/prilozi.nepromjenjivi.txt -text
dev/adv/prilozi.promjenjivi.bidix.txt -text
dev/adv/prilozi.promjenjivi.txt -text
dev/apertium-sh-mk.sh.metadix -text
dev/bidix/notes.txt -text
dev/bidix/pending_adjectives.txt -text
dev/bidix/pending_adverbs.txt -text
dev/bidix/pending_conjunctions.txt -text
dev/bidix/pending_determiners.txt -text
dev/bidix/pending_nouns.txt -text
dev/bidix/pending_numerals.txt -text
dev/bidix/pending_prepositions.txt -text
dev/bidix/pending_pronouns.txt -text
dev/bidix/pending_proper_nouns.txt -text
dev/bidix/pending_verbs.txt -text
dev/generation-summary.sh-mk.txt -text
dev/generation-test.py -text
dev/inconsistency-summary.sh -text
dev/inconsistency.sh -text
dev/missing-bidix-freq.sh -text
dev/n/existing.sh -text
dev/n/pending_nouns.txt -text
dev/n/uncategorised.txt -text
dev/np/bidix_np.txt -text
dev/np/prezimenić.monodix.txt -text
dev/np/prezimenić.txt -text
dev/np/prezimenov.monodix.txt -text
dev/np/prezimenov.txt -text
dev/np/prezimenski.monodix.txt -text
dev/np/prezimenski.txt -text
dev/np/vlastita_imena.hr.txt -text
dev/np/vlastita_imena.mk.txt -text
dev/quantity_nouns.txt -text
dev/testvoc-summary.sh-mk.txt -text
dev/testvoc.sh -text
dev/vblex/bidix.vblex.special_care.txt -text
dev/vblex/bidix.vblex.untranslated.txt -text
dev/vblex/bidix.vblex_BS.txt -text
dev/vblex/bidix.vblex_HR.txt -text
dev/vblex/bidix.vblex_SR.txt -text
dev/vblex/bidix.vblex_sh.txt -text
dev/verbAlign.py -text
/lexchoicebil.xsl -text
midterm/article.mk.original.txt -text svneol=unset#application/octet-stream
midterm/article.sh-mk.txt -text
midterm/article.sh.txt -text
midterm/obradi.sh -text
midterm/unknown.txt -text
/mk-sh.prob -text svneol=unset#unset
/modes.xml -text
/pending-tests.sh -text
/regression-tests.sh -text
/sh-mk-unsupervised.make -text
/sh-mk.prob -text svneol=unset#unset
/wiki-tests.sh -text
